

<script type="text/javascript">
	var _outsbound 	= <?= json_encode($outsbound) ?>;
	var _return 	= <?= json_encode($return) ?>;
	var _passengers = <?= json_encode($passengers) ?>;
	var _roundtrip 	= <?= json_encode($roundtrip) ?>;
</script>


<?php

$form->setAttribute('action', $this->url('flights', array('action' => 'details')));
$form->prepare();

echo $this->form()->openTag($form);

?>


<?php if (!empty($outsbound)){ ?>
	<table id="out_table" class="table flight_table">
	    <tr>
	        <th colspan="6">Outbound</th>
	    </tr>
	<?php foreach ($outsbound as $index => $flightDetail){ ?> 
		<tr class="hover_efect details_out_<?= $index ?>">
			<td class="tr_no_details">
			<?php
	        	$form->get('outselection')->setValueOptions(array($index => ''));
	        	echo $this->formRow($form->get('outselection'));
			?>
			</td>
			<td><?= $flightDetail->date;?></td>
			<td><?= $flightDetail->depart->airport->name;?> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <?= $flightDetail->arrival->airport->name;?></td>
			<td><?= date('H:i',strtotime($flightDetail->datetime)) ?> </td>
			<td>€ <?= $flightDetail->price;?></td>
			<td class="flight_notes"><?= ($flightDetail->seatsAvailable <= 10)? 'Only '.$flightDetail->seatsAvailable.' tickets at € '.$flightDetail->price : 'Departure from '.$flightDetail->depart->airport->name ?></td>
		</tr>
	<?php }?> 
	</table>
<?php } ?>


<?php if (!empty($return)){ ?>
<table id="ret_table" class="table flight_table">
    <tr>
        <th colspan="6">Return</th>
    </tr>
<?php foreach ($return as $index => $flightDetail){ ?> 
	<tr class="hover_efect details_ret_<?= $index ?>">
		<td class="tr_no_details">
		<?php
        	$form->get('returnselection')->setValueOptions(array($index => ''));
        	echo $this->formRow($form->get('returnselection'));
		?>
		</td>
		<td><?= $flightDetail->date;?></td>
		<td><?= $flightDetail->depart->airport->name;?> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <?= $flightDetail->arrival->airport->name;?></td>
		<td><?= date('H:i',strtotime($flightDetail->datetime)) ?> </td>
		<td>€ <?= $flightDetail->price;?></td>
		<td class="flight_notes"><?= ($flightDetail->seatsAvailable <= 10)? 'Only '.$flightDetail->seatsAvailable.' tickets at € '.$flightDetail->price : 'Departure from '.$flightDetail->depart->airport->name ?></td>
	</tr>
<?php }?> 
</table>
<?php } ?>

<?php
echo $this->form()->closeTag();
?>

<div class="details_flight">

	<table class="table details_flight_out">
	    <tr>
	        <th colspan="3"><h3><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Outbound flight <span class="d_code color_snow"></span></h3></th>
	    </tr>
		<tr>
			<td colspan="3">
				<p class="d_date text-left"></p>
			</td>
		</tr>
		<tr>
			<td class="d_departure"></td><td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </td> <td class="d_destination"></td>
		</tr>
		<tr>
			<td class="d_time"></td><td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </td><td>--:--</td>
		</tr>
		<tr>
			<td colspan="3">
				<p class="d_price text-right"></p>
				<p class="text-right color_snow">per person</p>
			</td>
		</tr>
	</table>

	<table class="table details_flight_ret">
	    <tr>
	        <th colspan="3"><h3><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Flight back <span class="d_code color_snow"></span></h3></th>
	    </tr>
		<tr>
			<td colspan="3">
				<p class="d_date text-left"></p>
			</td>
		</tr>
		<tr>
			<td class="d_departure"></td><td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </td> <td class="d_destination"></td>
		</tr>
		<tr>
			<td class="d_time"></td><td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </td><td>--:--</td>
		</tr>
		<tr>
			<td colspan="3">
				<p class="d_price text-right"></p>
				<p class="text-right color_snow">per person</p>
			</td>
		</tr>
	</table>

	<table class="table details_flight_passenger">
		<tr>
	        <th colspan="3"><h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Passenger(s)</h3></th>
		</tr>
		<tr>
			<td colspan="3">
				<p class="d_passengers text-left"></p>
			</td>
		</tr>
	</table>
</div>