

<?php

$form->setAttribute('action', $this->url('flights', array('action' => 'index')));
$form->get('submit')->setValue('Search and book >');
$form->get('roundtrip')->setValue('1');
$form->prepare();

echo $this->form()->openTag($form);

//TODO

echo '<div class="form_flight_container">';
echo '<div class="form-group row">';
echo '<div class="col-md-3"></div>';
echo '<div class="col-md-3"><label>Choose flight</label></div>';
echo '<div class="col-md-3">'.$this->formRow($form->get('roundtrip')).'</div>';
echo '</div>';

//echo '<div class="form_flight_container">';
echo '<div class="form-group form-group-md">';
echo '<div class="col-md-3">'.$this->formRow($form->get('from')).'</div>';
echo '<div class="col-md-3">'.$this->formRow($form->get('to')).'</div>';
echo '<div class="col-md-3">'.$this->formRow($form->get('departure')).'</div>';
echo '<div class="col-md-3">'.$this->formRow($form->get('return')).'</div>';
echo '<div class="col-md-3">'.$this->formRow($form->get('adult')).'<small class="years_detail">+12 years</small></div>';
echo '<div class="col-md-3">'.$this->formRow($form->get('children')).'<small class="years_detail"><a href="#">2-11 years</a></small></div>';
echo '<div class="col-md-3">'.$this->formRow($form->get('babies')).'<small class="years_detail"><a href="#">-4 month</a></small></div>';
echo '<div class="col-md-3">'.$this->formSubmit($form->get('submit')).'</div>';
echo '</div>';
echo '</div>';
echo $this->form()->closeTag();